
    .container{
        // background-color: aquamarine;
        width:100%;
        padding: inherit;
        .row{
            margin-top: 3vh;
            .col-sm-4{
                &.liveTime{
                    text-align: right;
                }
            }
            &.liveWindowRow{
                margin-top:5vh;
            }
            .col-sm-6{
                
                padding: 15px;
                // background-color: burlywood; 
                
                .liveWindow{
                    height: inherit;
                    width: inherit;
                    img {
                        &.liveContent{
                        height: 100%;
                        width: 100%;
                        object-fit:contain;
                        }
                    }    
                }
            }
        }
    }

